<%- include('layouts/header') %>

    <h2 class="mt-5">Edit Komentar</h2>
    <div class="table-responsive">
        <% for(data of datas) { %>
            <form action="<%= data.id_komentar %>" method="post">
                <div class="col-md-4 mb-3">
                    <label for="namaVisiMisi" class="form-label">Nama</label>
                    <input type="text" class="form-control" name="nama" value="<%= data.nama_komentar %>" disabled>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Aktif Komentar</label>
                    <select class="form-select" name="aktif">
                        <option value="yes">yes</option>
                        <option value="no">no</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
            <% } %>
    </div>

    <%- include('layouts/footer') %>