<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Dashboard | SMK Bintang Sembilan</title>
    <link rel="icon" href="/assets/images/logo-sm.png">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/dashboard.css" rel="stylesheet">

    <!-- tinymce -->
    <script src="/public/tinymce.min.js" type="application/javascript"></script>
    <script src="/assets/js/tinymce-config.js" type="application/javascript"></script>

</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">SMK Bintang Sembilan</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/dashboard">
                                <span data-feather="home" class="align-text-bottom"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/admin">
                                <span data-feather="users" class="align-text-bottom"></span>
                                Admin
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/visimisi">
                                <span data-feather="align-left" class="align-text-bottom"></span>
                                Visi Misi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/sambutan">
                                <span data-feather="edit" class="align-text-bottom"></span>
                                Sambutan
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/kejuruan">
                                <span data-feather="list" class="align-text-bottom"></span>
                                Kejuruan
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/berita">
                                <span data-feather="layers" class="align-text-bottom"></span>
                                Berita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/komentar">
                                <span data-feather="message-square" class="align-text-bottom"></span>
                                Komentar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/galeri">
                                <span data-feather="image" class="align-text-bottom"></span>
                                Galeri
                            </a>
                        </li>
                    </ul>


                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                        <span>Keluar</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <span data-feather="monitor" class="align-text-bottom"></span>
                                Kembali ke Landing Page
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/logout">
                                <span data-feather="log-out" class="align-text-bottom"></span>
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">